.body {
    margin-top: 50px;
    margin-left: 10px;
}

.body p {
    color: lightgray;
}

.btn-correct {
    background-color: rgb(0,170,144);
}

.btn-incorrect {
    background-color: rgb(217, 3, 3);
}

.correct {
    background: linear-gradient(90deg, rgba(81,168,221,1) 1%, rgb(0,170,144) 25%);
}

.incorrect {
    background: linear-gradient(90deg, rgba(81,168,221,1) 1%, rgb(217, 3, 3) 35%);
}

.answer-correct {
    background-color: rgb(0,170,144);
}

.miss {
    background: rgb(217, 3, 3);
}

.question-link.correct:hover {
    background-color: #14f0cf;
}

.question-link.incorrect:hover {
    background-color: rgb(255, 68, 68);
}

.score {
    display: flex;
    position: absolute;
    bottom: 25px;
    width: 200px;
    background-color: transparent;
    border: 3px solid white;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    user-select: none;
}

.answer {
    margin-left: 15px;
    margin-top: 10px;
    color: lightgray;
}