.box {
    background-color: #212121;
    display: block;
    height: auto;
    min-height: fit-content;
    flex: none;
}

.col {
    overflow-y: auto;
}

.q-splitline {
    color:gray;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cols {
    display: flex;
    flex-direction: column  ;
    gap: 10px;
}

.column {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    border: 1px solid gray;
    padding-left: 10px;
}

.column:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked ~ .column {
    background-color: #51A8DD;
    border-color: #51A8DD;
    font-weight: bold;
}

.question-preview.box {
    width: 250px;
}

.question-grid {
    display: flex;
    margin-top: 15px;
    gap:5px;
}

.question-link {
    min-height: 25px;
    min-width: 25px;
    background-color: gray;
    border-radius: 50%;
}

.question-link:hover {
    background-color: rgb(157, 157, 157);
}

.question-link.done {
    background-color: #51A8DD;
}

.question-link.done:hover {
    background-color: #5fbffb;
}

.ans-ipt {
    color:black;
    background-color: #333333;
    border-radius: 10px;
    padding-left: 15px;
    min-height: 50px;
    color: #FFFFFF;
    border: none;
    font-size: 1.2em;
    width: 100%;
    padding-right: 55px;
}