{% extends "template.html" %}

{% block import_css %}
<link rel="stylesheet" href="/static/common/css/box.css">
{% endblock %}

{% block import_js %}

{% endblock %}

{% block body %}
<div class="col small">
    <div class="row">
        <a class="box green clickable" href="create">
            <div class="title">

            </div>
            <div class="body">

            </div>
        </a>
        <a class="box clickable" href="question/test">
            <div class="title">

            </div>
            <div class="body">
                
            </div>
        </a>
    </div>
</div>
{% endblock %}