.box {
    display: flex;
    flex: 1;
    padding: 25px;
    border-radius: 25px;
    gap: 10px;
    background-color: rgba(34, 34, 34, 0.9);
    height: 100%;
    overflow: auto;
}

.box.clickable:hover {
    background-color: rgba(64, 64, 64, 0.9);
}

.page-container {
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.col .box {
    flex-direction: column;
}


.col.small {
    height: 150px;
    max-height: 150px;
}

.col.medium {
    height: 300px;
    max-height: 300px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
}

.row .box {
    flex-direction: row;
}

.row.medium {
    width: 300px;
    max-width: 300px;
}

.title {
    position: absolute;
    max-width: max-content;
}

.small-title {
    font-size: 1.2em;
    color: white;
}

.title-splitline {
    display: flex;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

.green {
    background-color: rgba(9, 108, 0, 0.9);
}

.green.clickable:hover {
    background-color: rgba(13, 159, 0, 0.9);
}

a {
    text-decoration: none;
}