.navbar {
    display: flex;
    position: absolute;
    height: 50px;
    min-width: 200px;
    top: 10px;
    left: 0px;
    border-radius: 0px 15px 15px 0px;
    background-color: #1f1f1f;
    align-items: center;
    padding-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    transition: width 2s ease;
}


.navbar.expanded {
    width: calc(100% - 10px);
}

.navbar.closed {
    width: 200px;
}

.navbar * {
    user-select: none;
}

.webmark {
    display: flex;
    min-width: 160px;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
    z-index: 10001;
}

.nav-icon {
    display: flex;
    height: 35px;
    width: 35px;
}

.navbar.closed .nav-items {
    overflow-x: hidden;
}

.nav-items {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
}

.nav-items::-webkit-scrollbar {
    height: 2px;
}

.nav-items::-webkit-scrollbar-thumb {
    height: 2px;
}

.nav-items .nav-item {
    display: flex;
    color: #CCCCCC;
    /* min-width: fit-content; */
    min-width: 102px;
    align-items: center;
    justify-content: center
}

.navbar a, .nav-items a{
    text-decoration: none;
}

.navbar .nav-item:hover {
    color: #FFFFFF;
}

/* color bar */

.color-bar {
    width: 5px;
    min-width: 5px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    user-select: none;
    z-index: 10000;
}

.color-bar.big {
    margin-left: 10px;
    margin-right: 10px;
}

.color-bar.little {
    min-width: 3px;
    width: 3px;
    height: 25px;
}

.color-bar.right {
    position: absolute;
    right: 15px;
    outline: 20px solid #1f1f1f;
    margin: 0px;
}

.color-bar.hover-to-aqua:hover {
    background-color: #51A8DD;
}

/* end color bar */